body{
	white-space: nowrap;
	margin: 0px;
	font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: rgb(40,40,40);
}

.container{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100vh;
}

.navBar{
	white-space: normal;
	width: 25%;
	min-width: 310px;
	height: 100%;
	background: #FFDD2B;
	color: black;
	text-align: center;
	position: relative;
}

.toLogin{
	width: 100%;
	
	position: absolute;
	bottom: 20px;
}

.toLogin a{
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	color:inherit;
}

.errorMsg{
	color: #ff5757;
	font-size: 10px;
	margin-bottom: 15px;
}

.dbLogo{
	width: 80px;
	height: auto;
	margin-bottom: 50px;
}

.clear{
	float:clear;
}

.mainNav{
	height: auto;
	width: 100%;
	text-align: center;
	padding: 0px;
	font-size: 30px;
}

.mainNav a{
	display: inline-block;
	width: 90%;
	margin-bottom: 18px;
	font-weight: 800;
	text-decoration: none;
	color:inherit;
}

.textBox{
	width: 90%;
	margin: 10px;
	height: 40px;
	display: inline-block;
}

.drinkButton{
	color: white;
	border: none;
	padding: 5px;
	border-radius: 5px;
	background-color: #FFA24C;
	width: 100px;
	height: 30px;
	margin-bottom: 10px;
}

.textBox_Drink{
	width: 70%;
	margin: 10px;
	height: 30px;
}

.text-center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 300px;
	padding: 0px;
	margin-bottom: 30px;
}

.display-inline{
	display: inline-block;
	text-align: left;
	padding-left: 25px;
}

h1 {
	font-size: 50px;
	font-weight: 900;
}

#loginButton{
	color: white;
	border: none;
	padding: 5px;
	border-radius: 5px;
	background-color: #FFA24C;
	width: 90%;
	height: 30px;
	margin-bottom: 10px;
}



#loginDiv{
	white-space: normal;
	width: 70%;
	height: auto;
	min-width: 800px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
}

#joinLobby{
	white-space: normal;
	width: 70%;
	height: auto;
	min-width: 800px;
	display: inline-block;
	text-align: left;
	overflow: hidden;
	margin-left: 50px;
}

#joinLobby h2{
	margin-left: 10px;
}

#loginForm{
	padding: 10px;
}

#registerDiv{
	width: 1000px;
	height: auto;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: #F6F6F6;
	border-radius: 5px;
	
	position: relative;
}

#registerForm{
	padding: 10px;
}

#beerLogo_1{
	position: absolute;
	width: 100px;
	transform: rotate(-60deg);
	left: -70px;
	top: -20px;
}

#beerLogo_2{
	position: absolute;
	width: 150px;
	transform: rotate(-20deg);
	left: -95px;
	top: 500px;
}

#beerLogo_3{
	position: absolute;
	width: 120px;
	transform: rotate(-10deg);
	left: 970px;
	top: -50px;
}

#beerLogo_4{
	position: absolute;
	width: 200px;
	transform: rotate(20deg);
	left: 950px;
	top: 450px;
}

#beerLogo_5{
	position: absolute;
	width: 30px;
	transform: rotate(10deg);
	left: 555px;
	top: 20px;
}

#registerButton{
	color: white;
	border: none;
	padding: 5px;
	border-radius: 5px;
	background-color: #FFDD2A;
	width: 90%;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#userInfo{
	text-align: left;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	height: 100px;
}

#userInfo div{
	margin-top: 10px;
}

#registerLink{
	text-decoration: none;
	color:inherit;
}

#lobbyDiv{
	width: 70%;
	min-width: 1100px;
	margin-left: 10px;
	height:100%;
	width: 100%;
	position: relative;
}

.table{
	padding-top: 70px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.user{
	position: absolute;
	height:8%;
	width: 12%;
	border: 1px solid black;
	border-radius: 5px;
}

#addDrink{
	margin-top: 40px;
	border-radius: 4px;
	width: 180px;
	text-align: center;
	background-color: #FFA24C;
}

#addShot{
	border-style: none;
	background-color: #FFA24C;
	color:white;
	font-weight: 600;
	font-size: x-large;
	width: 100%;
	border-radius: 4px;
	text-decoration: none;
}

