body{
	white-space: nowrap;
	margin: 0px;
}

.navBar{
	border: 1px solid red;
	white-space: normal;
	width: 25%;
	min-width: 300px;
	height: 100%;
	padding: 10px;
	background: #FFDD2B;
	display: inline-block;
	
	text-align: center;
}

h1{
	border: 1px solid red;
	font-size: 50px;
}

.dbLogo{
	border: 1px solid red;
	width: 80px;
	height: auto;
	margin-bottom: 10px;
}

.clear{
	float:clear;
}

.mainNav{
	border: 1px solid red;
	height: auto;
	width: 100%;
	text-align: center;
	padding: 0px;
	font-size: 30px;
}

.mainNav a{
	border: 1px solid red;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.textBox{
	width: 90%;
	margin: 10px;
	height: 40px;
}

#loginButton{
	color: white;
	border: none;
	padding: 5px;
	border-radius: 5px;
	background-color: FFA24C;
	width: 90%;
	height: 30px;
	margin-bottom: 10px;
}

#loginDiv{
	border: 1px solid blue;
	white-space: normal;
	width: 70%;
	height: auto;
	min-width: 800px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
}

#loginForm{
	padding: 10px;
}

#registerDiv{
	border: 1px solid blue;
	width: 1000px;
	height: 580px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: #F3F3F3;
	border-radius: 5px;
	
	position: relative;
}

#registerForm{
	padding: 10px;
}

#beerLogo_1{
	position: absolute;
	width: 100px;
	transform: rotate(-60deg);
	left: -70px;
	top: -20px;
}

#beerLogo_2{
	position: absolute;
	width: 150px;
	transform: rotate(-20deg);
	left: -95px;
	top: 500px;
}

#beerLogo_3{
	position: absolute;
	width: 120px;
	transform: rotate(-10deg);
	left: 970px;
	top: -50px;
}

#beerLogo_4{
	position: absolute;
	width: 200px;
	transform: rotate(20deg);
	left: 950px;
	top: 450px;
}

#beerLogo_5{
	position: absolute;
	width: 30px;
	transform: rotate(10deg);
	left: 555px;
	top: 30px;
}

#registerButton{
	color: white;
	border: none;
	padding: 5px;
	border-radius: 5px;
	background-color: #FFDD2A;
	width: 90%;
	height: 30px;
	margin-top: 10px;
}

#userInfo{
	border: 1px solid red;
	text-align: left;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100px;
}

#userInfo div{
	margin-top: 10px;
}
